<div class="col-6">

    <div class="alert alert-danger mt-3 pt-2" role="alert">
        <h3>View Items In The Database</h3>
    </div>



    <div class="mt-5  ">


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Delete Item</th>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Rows will be inserted here -->
            </tbody>
        </table>
    </div>
</div>